@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;

		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;

		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;

		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;

		--accent: 220 14.3% 95.9%;
		--accent-foreground: ;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;

		--ring: 217.9 10.6% 64.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;

		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;

		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;

		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;

		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;

		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;

		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;

		--accent: 215 27.9% 16.9%;
		--accent-foreground: ;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 215 27.9% 16.9%;
	}
}

@layer base {
	* {
		@apply antialiased border-border sm:subpixel-antialiased;
	}
	body {
		@apply text-foreground font-body bg-background;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}

@layer base {
	h1 {
		@apply text-3xl font-bold text-black dark:text-white font-title;
	}
}

@layer components {
	.header {
		@apply inset-x-0 top-0 flex flex-wrap w-full py-4 text-sm border-b border-gray-300 md:justify-start md:flex-nowrap lg:absolute backdrop-blur-md dark:bg-black dark:border-gray-600;
	}
	.heading {
		@apply mb-12 text-2xl font-bold text-center text-gray-800 capitalize md:text-3xl dark:text-gray-50;
	}

	.nav-bar {
		@apply relative flex font-bold border-b border-gray-200 bg-background font-body lg:space-x-6 dark:border-gray-800 backdrop-blur-md;
	}
	.navbar_item {
		@apply font-bold hover:text-emerald-600 dark:text-gray-50 dark:hover:text-emerald-400;
	}

	/* --------------- logo -------------------- */

	.logo_icon_dark {
		@apply hidden object-cover w-8 h-8 dark:block md:h-10 md:w-10;
	}
	.logo_icon_light {
		@apply object-cover w-8 h-8 dark:hidden md:h-10 md:w-10;
	}
	.logo_text {
		@apply hidden text-sm font-bold text-gray-900 sm:flex dark:text-white md:text-xl font-title;
	}
	/* ------------------------------------------------ */



	/* TIMELINE */

	#myUL {
		@apply w-full;
	}

	/* --------------PROGRAM--------------- */

	.title-heading {
		@apply mb-4 text-xl font-extrabold tracking-widest text-center text-gray-900 uppercase md:text-3xl font-body;
	}


	.card_image {
		@apply absolute top-0 left-0 object-cover w-full h-full transition-transform duration-500 ease-in-out rounded-t-3xl;
	}
	.course-code {
		@apply w-max uppercase tracking-widest md:text-white text-[10px]   bottom-4 right-4 absolute  md:bg-emerald-900 md:ring-2  ring-emerald-500 backdrop-blur-2xl px-2 py-1 rounded-md antialiased text-emerald-600;
	}
	.card_heading {
		@apply w-full text-sm font-bold text-left text-gray-800 capitalize align-middle lg:text-lg dark:text-white font-title md:w-5/6;
	}

	.footer_copyright {
		@apply text-xs leading-6 text-center sm:text-sm md:text-base;
	}
}

.pattern {
	background-image: url("https://www.amoyshare.com/asset/products/watermark/css/images/swiper-bg-4d75ab61.png");
	background-position-x: center;

	background-size: initial;
	background-repeat: repeat;
}

.nav-bar {
	width: 100%;
	padding: 20px 50px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-bar .logo {
	font-size: 22px;
	font-weight: 500;
}
.nav-bar .nav-links {
	column-gap: 20px;
	list-style: none;
}
.nav-bar .nav-links a {
	transition: all 0.2s linear;
	font-size: 1.2rem;
}
.nav-bar .nav-links a:hover {
	color: #15c095;
}

/* responsive */
@media screen and (max-width: 1160px) {
	.nav-bar {
		padding: 15px 50px;
	}
}
@media screen and (max-width: 950px) {
	.nav-bar {
		padding: 15px 50px;
	}
}
@media screen and (max-width: 768px) {
	.nav-bar {
		padding: 15px 20px;
	}
}

section {
	padding: 5rem 2%;
	height: 100%;
}

.heading-link {
	text-align: center;
	background: url("../assets/img/heading-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.heading-link h3 {
	font-size: 2rem;
	text-transform: capitalize;
	color: #444;
}

.heading-link p {
	font-size: 1.2rem;
	line-height: 2;
	color: #777;
}

.heading-link p a {
	color: #0eb582;
}

.heading-link p a:hover {
	text-decoration: underline;
}

@media (max-width: 1200px) {
	section {
		padding: 3rem 3%;
	}
}

@media (max-width: 991px) {
	section {
		padding: 3rem 0.5rem;
	}
}
